@media (prefers-color-scheme: dark) {
    .novelvo {
        font-family: vazir, serif;
        user-select: none;
    }

    .novelvo .first {
        background: url('../img/darkbg.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height: 100vh;
        padding: 5%;
        color: white;
    }
    .novelvo .first .heading {
        font-size: 50px;
        font-weight: bold;
    }
    .novelvo .first .des {
        font-size: 35px;
    }
    .novelvo .first .options {
        font-size: 20px;
    }
    .novelvo .first .options .yeah {
        font-size: 20px;
        font-weight: bold;
    }

    .novelvo .main {
        font-family: 'Titillium Web', sans-serif;
        background-color: #212121;
        color: white;
        padding: 5%;
    }
    .novelvo .main .box {
        border-radius: 5px;
        padding: 3%;
        background: #313131;
    }
    .novelvo .boxttle {
        font-weight: bold;
        font-size: 20px;
    }

    .novelvo .footer {
        font-size: 15px;
        padding: 3%;
        color: gray;
        background: #313131;
    }
    .novelvo .footer .head {
        font-size: 20px;
        font-weight: bold;
    }
    .novelvo .footer .flink {
        color: gray;
        text-decoration: none;
    }
}