@media (prefers-color-scheme: light) {
    .novelvo {
        font-family: vazir, serif;
        user-select: none;
    }

    .novelvo .first {
        background: url('../img/lighbg.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height: 100vh;
        padding: 5%;
        color: black;
    }
    .novelvo .first .heading {
        font-size: 50px;
        font-weight: bold;
    }
    .novelvo .first .des {
        font-size: 35px;
    }
    .novelvo .first .options {
        font-size: 20px;
    }
    .novelvo .first .options .yeah {
        font-size: 20px;
        font-weight: bold;
    }

    .novelvo .main {
        font-family: 'Titillium Web', sans-serif;
        background-color: #f1f1f1;
        padding: 5%;
    }
    .novelvo .main .box {
        border-radius: 5px;
        padding: 3%;
        border: solid 1px white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .novelvo .boxttle {
        font-weight: bold;
        font-size: 20px;
    }

    .novelvo .footer {
        font-size: 15px;
        padding: 3%;
        background: #f6f6f6;
    }
    .novelvo .footer .head {
        font-size: 20px;
        font-weight: bold;
    }
    .novelvo .footer .flink {
        color: black;
        text-decoration: none;
    }
}